html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.erro-container {
  background: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

.icone-erro {
  font-size: 80px;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.icone-gear {
  font-size: 60px;
  color: #3483fa;
  animation: girar 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  display: inline-block;
  background: #3483fa;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
}

a:hover {
  background: #2769c6;
}
.info-pix {
  font-size: 0.95rem;
  color: #333;
  background: #e6f0ff;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.info-pix a {
  color: #3483fa;
  text-decoration: none;
  font-weight: bold;
}

.info-pix a:hover {
  text-decoration: underline;
}

